*{
	margin: 0;
	padding: 0;
}
body{
	background: url(../img/bk.png) no-repeat;/*背景图*/
	background-size: 100% 100%;
}
.trainer {
	    margin: 0 auto;
	width: 100%;
	    padding-bottom: 20px;
	max-width: 750px;
	min-width: 320px;
}
.trainer ul li{
	list-style: none;
}
.trainer .container{
	    margin-top: 13vw;
	padding: 0 15px;
}
.trainer  .bodys{
	padding: 15px 12px;
	background-color: #d4f1ff;
	border-radius: 10px;
}
.trainer .titleimg img{
	width: 100%;
	display: block;
}
.trainer .titleimg {
	margin-bottom: 25px;
}

.trainer .logImg img{
	width: 50%;
	height: 50px;
	display: block;
	margin: 0 auto;
}
.trainer .box{
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid #a8c8df;
	background-color: #fff;
	margin-top: 25px;
	position: relative;
	
	border-radius: 10px;
	font-size: 0.3rem;
}
.trainer .box1{
	text-align: center;
	margin-top: 0;
}

.trainer .box-title{
	
    border: 2px solid #385366;
    font-size: 1.1rem;
    color: #397597;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 10px 10px 10px 10px;
  
    margin-left: -0.1rem;
        margin-top: -1.05rem;
    background-color: #fff;
}
.mark{
	margin-top: 25px;
}
.mark-number{
	font-size: 5.5rem;
    position: relative;
    display: inline-block;
    color: #ff5256;
}
.time .atime{
	font-size: 1.1rem;
	color: #2d6f8f;
}
.box3,.box4{
	margin-top: 45px!important;
}
.time .btime{
	font-size: 0.88rem;
	color: #5e7b8b;
}
.time{
	padding: 10px 0;
	text-align: center;
}
.box2 .head-box {
	position: relative;
}
.box2 .head-box .head{
	width: 15.222vw;
	height: 15.222vw;
	border-radius: 50%;
	overflow: hidden;
	border: 2px solid #aac1d1;
	display: inline-block;
}
.teach-name{
	display: inline-block;
	font-size: 1.2rem;
	vertical-align: middle;
	position: absolute;
	bottom: 5px;
	font-size: 200;
	padding-left: 15px;
}
.box2 .head-box .head img{
	width: 100%;
	
}
.box2 ul{
	padding: 0 12px;
}
.box2 .text{
	font-size: 0.9rem;
	padding-top: 15px;;
}
.bottom-ling{
	position: relative;
	width: 7.8rem;
    /* bottom: -40px; */
    /* left: -33px; */
    display: block;
    left: -1%;
    top: -15px;
    margin: 0 auto;
}
.mark span:nth-of-type(2){
	    position: relative;
    left: 7%;
    top: -5px;
}
.footer {
    
    bottom: 1.85185vw;
    padding: 20px 0;
}
 .footer .progress-wrapper {
    display: -ms-flexbox;
    display: flex;
    height: 20px;
	padding: 10px 0;
}
.footer .progress-wrapper .progress-time.progress-time-l {
    text-align: left;
	    font-size: 0.9rem;
		color: #acacac;
}
.footer .progress-wrapper .progress-time {
    width: 11.11111vw;
    line-height: 20px;
    font-size: 2.77778vw;
    color: #000;
}
.mmProgress {
    position: relative;
    width: 100%;
    height: 2px;
    padding: 9px 0;
    margin: 0 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.mmProgress .mmProgress-bar {
    height: 7px;
    width: 100%;
    background-color: #dddddd;
	border-radius: 20px 20px 20px 20px;
}

.mmProgress .mmProgress-inner {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #96ddfb;
}
.mmProgress .mmProgress-inner, .mmProgress .mmProgress-outer {
    position: absolute;
    top: 60%;
    left: 0;
    display: inline-block;
    width: 0;
    height: 7px;
	border-radius: 20px 20px 20px 20px;
}
.mmProgress .mmProgress-inner .mmProgress-dot {
    position: absolute;
    top: 50%;
        right: -16px;
    
    width: 18px;
    height: 18px;
    border-radius: 50%;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
    background-color: #42baf9;
}
.footer .progress-wrapper .progress-time.progress-time-r {
    text-align: right;
	    font-size: 0.9rem;
		color: #acacac;}
.footer .progress-wrapper .progress-time {
    width: 11.11111vw;
    line-height: 20px;
    font-size: 2.77778vw;
    color: #000;
}
.play{
	background: url(../img/20181029181347_17.png)  no-repeat;
	height: 17vw;
    width: 17vw;
    background-size: 100%;
    position: relative;
    top: -1.8vw;
}
.playchange{
	background: url(../img/6580B28FBA6CAB2CFCDD2A45E4AD279B_03.png) no-repeat;
	    background-size: 100%;
}
.box3 ul li div{
	display: inline-block;
	width: 48%;
}
.box3 ul li {
	width: 70%;
	margin: 0 auto;
	font-size: 1rem;
	line-height: 3;
	    position: relative;
    left: 4%;
}
.box3 ul {
	padding: 20px 0;
}
.box3 ul li img{
	width: 1.8rem;
	vertical-align: text-bottom;
	margin-right: 5px;
}
.box3 ul li div:last-child{
	text-align: right;
}
.box3 ul li div:last-child span:last-child{
	text-align: left;
	display: inline-block;
	    width: 60%;
}
.boxs{
	position: absolute;
	width: 100%;
	text-align: center;
	    top: -0.3rem;
}
.trainer .swiper-slide {
	box-shadow: 0px 0px 5px 5px #f7f6f6;
	background-position: center;
	background-size: 130% 120%;
	width: 55%;
/* height: 15rem; */
}
.trainer .swiper-slide img{
	width: 100%;
	/* height: 15rem; */
	display: inline-block;
}
.trainer .swiper-slide-active{
	/* width: 40%!important; */
/* 	-webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear; */
}

.trainer .swiper-wrapper{
align-items: center;
    display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: box;
    display: flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
		}
		.trainer .swiper-container-horizontal>.swiper-pagination-bullets,.trainer  .swiper-pagination-custom, .swiper-pagination-fraction{
			font-size: 3rem;
			color: #cccccc;
			 /*-webkit-transform: scale(1,2);
    transform: scale(1,2);/*左数字为变宽最大值为1 右数字变长没有上限*/*/
			font-weight: 100;
			    height: 4rem;
    margin-top: -10px;
			transform:rotate(38deg) !important;
		-ms-transform:rotate(38deg)!important; 	/* IE 9 */
		-moz-transform:rotate(38deg)!important; 	/* Firefox */
		-webkit-transform:rotate(38deg)!important; /* Safari 和 Chrome */
		-o-transform:rotate(38deg)!important; 	/* Opera */
		}
	.trainer 	.swiper-pagination-current{      display: block;
     font-size: 1.1rem;color: #000;
			transform:translate3d(-13.333px, 40px, 0px) rotate(-38deg)!important;
		-ms-transform:translate3d(-13.333px, 40px, 0px)rotate(-38deg)!important; 	/* IE 9 */
		-moz-transform:translate3d(-13.333px, 40px, 0px)rotate(-38deg)!important; 	/* Firefox */
		-webkit-transform:translate3d(-13.333px, 40px, 0px) rotate(-38deg)!important; /* Safari 和 Chrome */
		-o-transform:translate3d(-13.333px, 40px, 0px) rotate(-38deg)!important; 	/* Opera */
		}
	.trainer 	.swiper-pagination-total{
			font-size: 0.9rem; 
			color: #797979;
			display: block;
				transform:translate3d(11.667px, -35px, 0px) rotate(-38deg)!important;
			-ms-transform:translate3d(11.667px, -35px, 0px) rotate(-38deg)!important; 	/* IE 9 */
			-moz-transform:translate3d(11.667px, -35px, 0px) rotate(-38deg)!important; 	/* Firefox */
			-webkit-transform:translate3d(11.667px, -35px, 0px) rotate(-38deg)!important; /* Safari 和 Chrome */
			-o-transform:translate3d(11.667px, -35px, 0px) rotate(-38deg)!important;  	/* Opera */ 
    
		}
		.box4{
			padding-bottom: 0px!important;
		}
	.trainer 	.swiper-pagination::after{
			content: '';
			display: block;
			clear: both;
		}
	.trainer 	.swiper-container-horizontal>.swiper-pagination-bullets,.trainer  .swiper-pagination-custom,.trainer  .swiper-pagination-fraction{
			bottom: -11px;
		}
		.cler-xz{
			overflow: hidden;
			position: relative;
			padding-bottom: 15px;
		}
		.swiper-pagination{
			position: unset!important;
		}
		.box4{
			padding-top: 50px!important;
		}
	.trainer	.swiper-container{
			padding: 5px 0;
		}
		.box1 ul li{
			font-size: 1rem;
		}
		.pj1 .div1 span{
			position: relative;
		}
		.pj1 .div1 span::before{
			content: '';
    display: block;
    height: 13px;
    position: absolute;
    width: 13px;
    border-radius: 50%;
    background: #42baf9;
    top: 0.23rem;
    left: -1.2rem;
		}
		.swiper-pagination{
			content: '丨';
		}
/* 		.skPlayer-list-switch{
			display: none;
		}
.skPlayer-volume{
	display: none;
}
.trainer .skPlayer-list-switch{
	display: none!important;
	}
	.skPlayer-mode{
		display: none!important;
	}
.trainer .footer .skPlayer-picture{
	float: right!important;
}
#skPlayer{
	width: 100%!important;
}
.skPlayer-picture img{
	display: none!important;
}
#skPlayer .skPlayer-play-btn{
	left: 50%!important;
}
#skPlayer .skPlayer-control {
    width: unset!important;
    height: unset!important;
   padding: unset!important;
    background-color: transparent;
     float: unset!important;
     border-radius:unset !important;
    position: relative;
    z-index: 2;
    text-align: left;
} */
