* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
	min-width: 1200px;
	overflow: hidden;
}
html,body{/* position:relative; */height:100%;font-size: 100px;}
body{background:#f5f5f6;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;color:#000;margin:0;padding:0;}
input[type="text"], input[type="password"], input[type="button"], textarea { outline-style:none; -webkit-appearance:none;}
.swiper-container{width:100%;height:100%;position: absolute;}
.swiper-slide{text-align:center;font-size:18px;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;}
.swiper-wrapper{ width:100%;height:100%;overflow:visible;transition:transform 1s cubic-bezier(0.86,0,0.03,1);-webkit-transition:-webkit-transform 1s cubic-bezier(0.86,0,0.03,1);}

/*section-1底部导航*/
#s1{
	background: url(../../img/index/bkimg.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
}
#s1_1{
	background: url(../../img/index/home2_02.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
}
#s1 .top_words{
	font-size: 0.55rem;
	color: #fff;
	position: absolute;
	top: 0.80rem;
}
#s1 .comp1{
	bottom: -4%;
	position: relative;
	/* left:-10%; */
	/* margin-left: -354.5px; */
}
#s1 .comp2{
	    bottom: -14px;
    position: absolute;
    right: -39%;
    z-index: 100;
	
}
#s1 .comp2 img{
	width: 5.57rem;
	height: 3.58rem;
}
#s1 .comp1 .comp1Img{
	width: 6.95rem;
	height: 5.55rem;
	    position: relative;
	z-index: 99;
}
#s1 .comp2 .comp2Img{
	width: 5.57rem;
	height: 3.35rem;
}
#s2 {
	position: relative;
	
}


/*底部按钮*/
.swiper-button-next {width: 32px; height: 47px; position: fixed; top: 98%; left: 48%; z-index: 500; border: 0; cursor:pointer; }
.next-but-arraw { width: 200px; height:14px; margin: 0 auto; animation: up-fade 1s ease 0s infinite; -moz-animation: up-fade 1s ease 0s infinite; -ms-animation: up-fade 1s ease 0s infinite; -o-animation: up-fade 1s ease 0s infinite; -webkit-animation: up-fade 1s ease 0s infinite;}
@keyframes up-fade {
	0% { opacity: 1 }
	100% { -webkit-transform: translate3d(0px, -6px, 0); opacity: 0.6 }
}
@-ms-keyframes up-fade {
	0% { opacity: 1 }
	100% { -webkit-transform: translate3d(0px, -6px, 0); opacity: 0.6 }
}
@-o-keyframes up-fade {
	0% { opacity: 1 }
	100% { -webkit-transform: translate3d(0px, -6px, 0); opacity: 0.6 }
}
@-moz-keyframes up-fade {
	0% { opacity: 1 }
	100% { -webkit-transform: translate3d(0px, -6px, 0); opacity: 0.6 }
}
@-webkit-keyframes up-fade {
	0% { opacity: 1 }
	100% { -webkit-transform: translate3d(0px, -6px, 0); opacity: 0.6 }
}
@-webkit-keyframes Compu_8{0%{ opacity:0.2;}50% {opacity:1; }100%{ opacity:0.2;}}
@-moz-keyframes Compu_8{0%{ opacity:0.2;}50% {opacity:1; }100%{ opacity:0.2;}}
.twinkle{animation:Compu_8 ease-in  infinite ;/* nimation-delay:5s;-webkit-animation-delay:5s; */opacity:1;}
.header{
	z-index: 999;
    position: fixed;
    width: 100%;
}
.header .top_color{
	background-color:#303030;
	height: 23px;
	width: 100%;
}
.header .container{
	background-color: #000000;
	height: 56px;
	width: 100%;
	text-align: center;
	
}
.header .header-nav{
	color: #FFFFFF;
	display: inline-block;
	margin-top: -10px;
	position: relative;
    top: 2px;
	
}
.header .header-nav ul li{
	list-style: none;
	display: inline-block;
	padding: 0 37px;
	cursor: pointer;
}
.header .header-nav span:hover{
	color: #29a0f3;
}

.header .header-logo{
	display: inline-block;
	position: relative;
	top: -20px;
	background-color: #303030;
	border-radius: 15px 15px 15px 15px;
	padding: 10px 10px ;
	left: -40px;
	box-shadow: 0px 4px 0px 0px #000000;
}
.header-explain{
	display: inline-block;
	margin-left: 10px;
}
.header-explain a{
    display: inline-block;
	border-radius: 25px 25px 25px 25px;
	text-decoration: none;
    color: #737272;
	padding: 8px 35px;
	border:2px solid #444444;
	position: relative;
	top: 2px;
	margin: 0 10px 0 10px;
	font-size: 13px;
	}
	.header-explain a:hover {
    background-color: #303030;
    color: #c5c5c5;
}
	.swiper-button-next{
		background-image: none!important;
	}
	
	.swiper-container{
		height: calc(100% - 79px);
		padding-top: 79px;
	}
	.twinkle{
		opacity: 0;
		    box-shadow: 0px 2px 29px 7px #308cf1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 95;
	background-color:rgba(16, 104, 179, 0.48);
	
	}
	.left_words{
		
		position: absolute;
    left: -2.37rem;
    top: 35%
	}
	.left_words img,.right_words img{
		width: 30%;
	}
	
	
	.right_words{
	position: absolute;
    right: -1.85rem;
    z-index: 999;
    top: 0;
	}
	.left_top_maks{
		
		text-align: center;
		line-height: 81px;
		    width: 2.39rem;
		height: 1.51rem;
		background-color: rgba(203, 219, 226, 0.1);
		display: -moz-box;  /* Firefox */
		display: -ms-flexbox;    /* IE10 */
		display: -webkit-box;    /* Safari */ 
		display: -webkit-flex;    /* Chrome, WebKit */
		display: box; 
		display: flexbox; 
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		align-items: center;
		justify-content:center;
	}
	.left_bottom_maks{
		
		position: absolute;
		top: 0.11rem;
		right: -0.11rem;
		    width: 2.39rem;
    height: 1.51rem;
		background-color: rgba(203, 219, 226, 0.1);
	}
	.right_top_maks{
		position: absolute;
		    top: 0;
    right: 0;
		width: 2.81rem;
		height: 1.76rem;
		background-color: rgba(203, 219, 226, 0.3);
		display: -moz-box;  /* Firefox */
		display: -ms-flexbox;    /* IE10 */
		display: -webkit-box;    /* Safari */ 
		display: -webkit-flex;    /* Chrome, WebKit */
		display: box; 
		display: flexbox; 
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		align-items: center;
		justify-content:center;
	}
	.right_bottom_maks{
		position: absolute;
		top: 11px;
		right: -11px;
		    width: 2.81rem;
		height: 1.76rem;
		background-color: rgba(203, 219, 226, 0.3);
	}
		
	.top_bkimg_box{
		background: url(../../img/index/bkpage2_02.png) no-repeat 100% 100%;
		background-size: 100% 100%;
		width: 100%;
		height: 50%;
		position: absolute;
		top: 0;
	}
	.top_bkimg_bottom_imgBox{
		position: absolute;
		bottom: 0;
		text-align: center;
		
		width: 100%;
	}
	.top_bkimg_bottom_imgBox span{
		
		padding: 0 0.94rem;
    height: 1.9rem;
		
		vertical-align: text-top;
		display: -moz-box;  /* Firefox */
		display: -ms-flexbox;    /* IE10 */
		display: -webkit-box;    /* Safari */ 
		display: -webkit-flex;    /* Chrome, WebKit */
		display: box; 
		display: flexbox; 
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		align-items: center;
		justify-content:center;
	}
	.top_bkimg_bottom_imgBox div:nth-child(1){
		background-color: #29a0f3;
	}
	.top_bkimg_bottom_imgBox div:nth-child(2){
		background-color: #50b6fd;
	}
	.top_bkimg_bottom_imgBox div:nth-child(3){
		background-color: #29a0f3;
	}
	.top_bkimg_bottom_imgBox div{
		display: inline-block;
		vertical-align: text-top;
		
	}
	.bottom_downs .boxFather{
		/* position: absolute; */
		bottom: 0;
		text-align: center;
		width: 100%;
	}
	.bottom_downs .boxFather div{
		display: inline-block;
		vertical-align: text-top;
		padding-bottom: 58px;
	}
	.bottom_downs .boxFather ul li{
		list-style: none;
	}
	.bottom_downs .boxFather ul li:nth-child(1) span{
		padding: 0.44rem 0;
		display: block;
	}
	.bottom_downs .boxFather ul li:nth-child(2) span{
		display: block;
		text-align: justify;
		padding: 0 0.4rem;
		height: 140px;
		color: #989898;
		font-size: 14px;
		line-height: 2.4;
	}
	.bottom_downs{
		    position: absolute;
	}
	.bottom_downs .boxFather a{
		text-decoration: none;
		display: block;
		margin: 0 auto;
		color: #fff;
		width: 2.38rem;
		padding: 0.1rem 0;
		background-color: #76c2af;
		border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
	}
	.bottom_downs .boxFather div:nth-child(1),.bottom_downs .boxFather div:nth-child(3){
		background-color: rgba(251,251,249,1);
	}
	.bottom_downs .boxFather div:nth-child(2){
		background-color: rgba(215,251,255,1);
	}
	
	.bottom_downs .boxFather a img{
		width: 25px;
		vertical-align: middle;
		padding-right: 8px;
		
	}
	.top_big_words .line,.page4_top_bk .line,.top_words_6 .line{
		border-left: 1px solid #fff;
		height: 55px;
		display: inline-block;
		margin: 0 15px;
	}
	.top_big_words .left_woImg,.top_big_words .right_woImg,.page4_top_bk .left_woImg,.page4_top_bk .right_woImg,.top_words_6 .left_woImg,.top_words_6 .right_woImg{
		display: inline-block;
	}
	.top_big_words,.page4_top_words_box,.top_words_6 .strong_word{
		display: -moz-box;  /* Firefox */
		display: -ms-flexbox;    /* IE10 */
		display: -webkit-box;    /* Safari */ 
		display: -webkit-flex;    /* Chrome, WebKit */
		display: box; 
		display: flexbox; 
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		align-items: center;
		justify-content:center;
	}
	.top_big_words,.page4_top_words_box,.top_words_6{
		position: relative;
	}
	
	.page3_top_bk{
		background: url(../../img/index/bkpage3.png) no-repeat 100% 100%;
		background-size: 100% 100%;
		width: 100%;
		height: 50%;
		position: absolute;
		top: 0;
	}
	
	.page3_top_bk .i_wt_join{
	display: block;
	cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 22%;
    background-color: #2ec4d1;
    border-radius: 5px;
    width: 163px;
    color: #fff;
    left: 50%;
    font-size: 19.2;
    letter-spacing: 5px;
    text-align: center;
    padding: 10px 0;
	border:0;
	}
	.page3_top_bk .i_wt_join:hover{
		background-color: #02aebd;
	}
	.page3_bottom_texts{
		position: absolute;
		
	}
	.page3_bottom_texts .first_words{
		padding-top: 95px ;
		padding-bottom: 45px;
		font-size: 24px;
		letter-spacing: 3px;
	}
	.page4_top_bk{
		background: url(../../img/index/page4bkimg_02.png) no-repeat 100% 100%;
		background-size: 100% 100%;
		width: 100%;
		height: 50%;
		position: absolute;
		top: 0;
	}
	.page6_top{
		background: url(../../img/index/aboutBk.png) no-repeat 100% 100%;
		background-size: 100% 100%;
		width: 100%;
		height: 50%;
		position: absolute;
		top: 0;
		display: -moz-box;  /* Firefox */
		display: -ms-flexbox;    /* IE10 */
		display: -webkit-box;    /* Safari */ 
		display: -webkit-flex;    /* Chrome, WebKit */
		display: box; 
		display: flexbox; 
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		align-items: center;
		justify-content:center;
	}
.page6_top .adrss{
	text-align: right;
    color: #fff;
    padding-top: 0.15rem;
    font-size: 17px;
    letter-spacing: 0.005rem;
}
.page6_top .page_btn{
	text-align: right;
		width: 52%;
		    padding-top: 0.25rem;
}
/* .certify .swiper-container {
	padding-bottom: 60px;
} */

.certify  .swiper-slide {
	width: auto;
}
.certify  .swiper-slide img{
	display:block;
	width: 100%;
	box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.4);
}


.certify .swiper-pagination {
	width: 100%;
	bottom: 20px;
}



.swiper-container-v{
	margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 5px;
    z-index: 1;
	cursor: pointer;
	}
	
	    .certify {
		position: relative;
		width: 12rem;
		margin: 0 auto
	}
	#s1_1 .top_big_words_2 {
    font-size: 0.55rem;
    color: #fff;
    position: absolute;
    top: 0.80rem;
}
.bottom_tab th{
	background-color: #2a81f2;
	color: #fff;
	font-size: 18px;
	border-color: #2a81f2;
	padding: 0.08rem 0 !important;
}
.bottom_tab{
	 width: 11.27rem;
	position: absolute;
	padding: 0.3rem;
	background-color: #fff;
	box-shadow: 0px 0px 0px 16px rgba(255,255,255,0.2)
}
.bottom_tab .alltitle_tab{
	color: #000;
	font-size: 24px;
	padding: 0.1rem 0;
}
.bottom_tab .alltitle_tab span{
	color: #f24a08;
}
.bottom_tab .layui-laypage .layui-laypage-curr .layui-laypage-em{
	background-color: #17a1ff;
}
#s4{
	background-color: #000;
}

.call_us{
	cursor: pointer;
	background-color: #00a3fe;
	border-radius: 5px;
	width: 163px;
	color: #fff;
	left: 50%;
	font-size: 19.2;
	letter-spacing: 5px;
	text-align: center;
	padding: 10px 0;
	border:0;
}
.call_us:hover{
		background-color: #02aebd;
	}
.page6_bottom {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
	display: -moz-box;  /* Firefox */
	display: -ms-flexbox;    /* IE10 */
	display: -webkit-box;    /* Safari */ 
	display: -webkit-flex;    /* Chrome, WebKit */
	display: box; 
	display: flexbox; 
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	justify-content:center;
}
.right_texts_about {
    display: inline-block;
    width: 7.1rem;
	text-align: left;
	vertical-align: top;
	overflow: auto;
}
.left_image_city{
	display: inline-block;
	width: 3.6rem;
}
.left_image_city img{
	width: 100%;
	    height: 2.4rem;
}
span.title_name::after {
    width: 1.3rem;
    display: block;
    content: '';
    background-color: #367ddd;
    height: 2px;
    bottom: -2px;
    position: absolute;
}
span.title_name {
	padding-bottom: 5px;
	position: relative;
    color: #2d55d2;
    width: 100%;
    border-bottom: 2px solid #cccccc;
    display: block;
}
.more_words_about {
    font-size: 0.17rem;
    line-height: 1.8;
	padding-top: 0.3rem;
}
